{{#each this}}
  <div class="card">
    <div class="card-img">
      <img width="200px" src="{{flag}}" alt="flag of {{name}}" />
    </div>
    <div class="card-body">
      <h2 class="card-title">{{name}}</h2>
      <p class="card-text">Capital: {{capital}}</p>
      <p class="card-text">Region: {{region}}</p>
      <p class="card-text">Area: {{area}}</p>
      <p class="card-text">Population: {{population}}</p>
      {{#each this.currencies}}
        <p class="card-text">Currency: {{name}}</p>
      {{/each}}

    </div>
  </div>
{{/each}}